@import '../../../variables.scss';
.common_button {
  height: 44px;
  border: 1px solid $color;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  min-width: 100px;
  margin-top: 10px;
  padding-left: 30px;
  padding-right: 30px;
  cursor: pointer;
  color: $color;
  text-decoration: none;

  a {
    color: $color;
    text-decoration: none;
  }
}
.common_button.mobile {
  height: 35px;
}
