.events_section {
  width: 100%;
  .slide {
    display: flex;
    height: 250px;
    width: 100%;
    justify-content: space-between;
    .image {
      display: flex;
      cursor: pointer;
      max-width: 250px;
      img {
        height: 100%;
      }
    }
  }
}
.mobile.events_section {
  .slide {
    .image {
      max-width: 45%;
      justify-content: center;
    }
  }
}
