@import '../../variables.scss';
.news-page {
    display: flex;
    flex-direction: column;
    padding: 20px;
    align-items: center;
    justify-content: center;

    .date {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-bottom: 5px;
        a {
          margin-top: 5px;
        }
        svg {
          margin-right: 10px;
        }
      }

    &__header {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-bottom: 20px;
    }

    &__title {
        font-size: 2rem;
        margin: 0;
    }

    &__event-date {
        font-size: 1rem;
        color: #999999;
    }

    &__content-wrapper {
        display: flex;
        flex-direction: column;
        // max-width: 70vw;
    }

    &__image-wrapper {
        width: 100%;
    }

    &__main-image {
        width: 100%;
        max-width: 100%;
        margin-bottom: 20px;
    }

    &__main-content {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;

        @media screen and (max-width: 830px) {
            flex-direction: column;
        }
    }

    &__content-text-wrapper {
        max-width: 65%;
        margin-right: 50px;

        @media screen and (max-width: 830px) {
            max-width: none;
            margin-right: 0;
            margin-bottom: 30px;
        }
    }

    &__content-text {
        text-align: left;
        text-align: justify;
        margin-bottom: 20px;
    }

    &__paragraph {
        margin-bottom: 20px;
    }

    &__promo-button {
        height: 44px;
        width: 100%;
        border: 1px solid $color;
        text-align: left;
        display: flex;
        align-items: center;
        background: transparent;
        min-width: 100px;
        margin-top: 10px;
        padding-left: 30px;
        padding-right: 30px;
        cursor: pointer;
        color: $color;
        text-decoration: none;
      
        a {
          color: $color;
          text-decoration: none;
        }

        svg {
            margin-right: 10px;
        }

        span {
            font-weight: 600;
            margin-top: 3px;
        }
      }
      .common_button.mobile {
        height: 35px;
      }

    .recent-post {
        font-family: Arial, sans-serif;
        h2 {
            margin-top: 0;
        }
      }
      
      .recent-post h2 {
        font-size: 1.5em;
        margin-bottom: 20px;
        border-bottom: 1px solid white;
        padding-bottom: 5px;
      }
      
      .post {
        display: flex;
        margin-bottom: 20px;
      }
      
      .post img {
        width: 80px;
        height: 80px;
        margin-right: 10px;
      }
      
      .post-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
      }
      
      .post-content h3 {
        font-size: 1em;
        margin: 0;
      }
      
      .post-content p {
        font-size: 0.9em;
        margin: 5px 0 0;
      }
}
