.upload_event {
  width: 100%;
  form {
    width: 50%;
    min-width: 300px;
    color: black;
    .text-area {
      width: 100%;
      margin-top: 10px;
    }
    .item {
      width: 100%;
      display: flex;
      justify-content: space-between;
      flex-direction: row;
      height: 50px;
      margin: 10px 0;
      div,
      label,
      button {
        height: 50px;
      }

      .item-member {
        margin: 0;
        width: 48%;
        height: 50px;
      }
    }
    h2 {
      color: black;
    }
  }
}
