@import '../../../variables.scss';
.header {
  background-color: #222222;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  height: 60px;
  color: $color;

  &_content {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    height: 100%;
    width: 100%;
    align-items: center;

    .logo {
      display: flex;
      padding-left: 30px;
      width: 30%;
      max-width: 220px;
      img {
        width: 100%;
      }
    }

    .menu {
      display: flex;
      justify-content: center;

      &_item {
        cursor: pointer;
        margin: 0 10px;
        display: flex;
        align-items: center;
        height: 30px;
        img {
          height: 17px;
        }
        .MuiInputBase-root,
        .MuiOutlinedInput-notchedOutline,
        svg {
          color: $color;
          border: none;
        }
        .MuiOutlinedInput-input {
          font-size: 0.7rem;
        }
      }
      .language {
        width: 70px;
        border-left: 1px solid $color;
        border-right: 1px solid $color;
      }
    }
  }
}

.mobile {
  .header_content {
    .logo {
      display: flex;
      padding-left: 20px;
      width: 40%;
      img {
        width: 100%;
        max-width: 40vw;
      }
    }
    .menu {
      .cart,
      .search {
        display: none;
      }
      .language,
      .menu_drawer {
        margin: 0;
      }
    }
  }
}
