@import '../../variables.scss';

.gallery_section {
  .gallery_item {
    width: 306px;
    height: 306px;
    // margin: 0 10px;
    img {
      width: 100%;
    }
  }

  .gallery_view_more {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 306px;
    height: 306px;
    border: 2px dashed white;
  }

  .mobile_section {
    flex-direction: column;
    display: flex;
    .gallery_item {
      margin: 20px 0px;
    }
  }
  .CarouselItem {
    .MuiPaper-root {
      background: transparent;
    }
  }
}
