.gallery_section {
  .gallery_item_set {
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    overflow: hidden;
  }
  .custom_carousel {
    display: none;
  }
}
.gallery_section.mobile {
  .gallery_item_set {
    display: none;
  }
  .custom_carousel {
    display: block;
  }
}
