.upload_gallery {
  width: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 10px;
  .item {
    width: 50%;
    min-width: 300px;
    color: black;
    margin-bottom: 40px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    div,
    label,
    button {
      height: 50px;
    }

    .item-member {
      margin: 0;
      width: 48%;
      height: 50px;
    }
  }
  .item.event {
    width: 90%;
    .item-member {
      width: 100%;
    }
  }
}
