@import './variables.scss';
body {
  display: flex;
  justify-content: center;
  #root {
    width: 100%;
    color: $color;
    overflow: hidden;
  }
}

.app-padding {
  padding: 0 5px;
}

.MuiPaper-root {
  background-color: transparent;
}

.page {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  min-height: calc(100vh - 180px);

  &_content {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    padding: 0 10px;
    width: 100%;
    max-width: 1200px;
  }
}

.white-header-text {
  color: $color;
  font-size: 1.5rem;
  font-weight: 900;
}
.mobile .white-header-text {
  font-size: 1rem;
}
.page_content.mobile {
  padding: 0 10px;
}
.shadowed-text {
  color: $shadowedText;
  font-size: 1rem;
}
.mobile .shadowed-text {
  font-size: 0.8rem;
}
.buttons_section {
  align-items: flex-end;
  width: 100%;
  flex-direction: row;
  justify-content: flex-end;
  display: flex;
  a {
    color: $color;
    text-decoration: none;
  }
}

.unstyled-link {
  // all: unset;
  display: inline;
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}
