@import '../../variables.scss';

.events-page {
  .page_content {
    .button-container {
      display: flex;
      align-self: flex-start;
    }
    .events-list {
      width: 100%;
      .event-list-container {
        margin: 30px 0;
        .list-header {
          display: flex;
          justify-content: flex-start;
          align-items: flex-start;
          width: 100%;
          color: $color;
          font-weight: 900;
          margin: 15px 0;
          align-items: center;
          .date {
            width: 150px;
          }
          .line {
            display: flex;
            width: 100%;
            border-bottom: 1px solid $color;
          }
        }
      }
    }
  }
}
