.admin-page {
  background: white;
  color: black;
  .page_content {
    .events,
    .gallery {
      width: 100%;
      display: flex;
      justify-content: center;
      flex-direction: row;
    }
    .control-panel {
      margin-top: 50px;
    }
  }
  .main-tabs {
    width: 100%;
  }
  [role='tabpanel'] {
    width: 100%;
  }
}
